<div th:fragment="header" class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">

          <ul class="header_user_info">
            <a class="login" href="register" th:if="!${session.user}">
              <i class="user"> </i>
              <li class="user_desc">Register</li>
            </a>
            <a class="login" href="/customer/showLoginCustomer" th:if="!${session.user}">
              <i class="user"> </i>
              <li class="user_desc">Login</li>
            </a>
            <a class="login" th:href="@{/customer/orders(customerId=${session.user.customerId})}"
              th:if="${session.user}">
              <i class="user"> </i>
              <li class="user_desc">Orders</li>
            </a>
            <a class="login" th:href="@{/customer/profile(customerId=${session.user.customerId})}"
              th:if="${session.user}">
              <i class="user"> </i>
              <li class="user_desc" th:text="${session.user.name}"></li>
            </a>
            <form th:action="@{/logout}" method="POST">
              <a class="login" href="#" th:if="${session.user}" onclick="this.closest('form').submit();return false;">
                <i class="user"> </i>
                <li>
                  Logout
                </li>
              </a>
            </form>
            <div class="clearfix"> </div>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">

        <div class="cart box_1">
          <a th:href="@{/customer/showCheckout}">
            <div class="total">
              <span class="simpleCart_total"></span>
            </div>
            <img src="/images/cart-1.png" alt="" />
          </a>

          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>