<div th:fragment="menu" class="header-bottom">
  <div class="container">
    <div class="header">
      <div class="col-md-9 header-left">
      <div class="top-nav">
        <ul class="memenu skyblue"><li class="active"><a href="/">Home</a></li>
          <li class="grid"><a href="#">Category</a>
            <div class="mepanel">
              <div class="row">
                <div class="col1 me-one">
                  <ul>
                    <li th:each="tempCategory : ${categoryList}">
                      <a 
                        th:text="${tempCategory.name}" 
                        th:href="@{/categories/(categoryId=${tempCategory.categoryId})}">
                      </a>
                    </li>
                  </ul>		
                </div>
              </div>
            </div>
          </li>
          <li class="grid">
            <a href="/contact">Contact</a>
          </li> 
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    
    <div class="clearfix"> </div>
    </div>
  </div>
</div>