<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Form Validation | Creative - Bootstrap 3 Responsive Admin Template</title>

  <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/admin/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/admin/css/style.css" rel="stylesheet">
  <link href="/admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body>
  <!-- container section start -->
  <section id="container" class="">

    <header th:replace="/admin/fragments/__header :: header" />

    <aside th:replace="/admin/fragments/__sidebar :: sidebar" />


    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="icon_document_alt"></i>Customers</li>
              <li><i class="fa fa-files-o"></i>New Customer</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                New Customer
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal " id="register_form" action="#" th:action="@{/admin/customers/save}" th:object="${customer}" method="POST">
                    
                    <div class="form-group">
                      <input type="hidden" th:field="*{customerId}"/>
                    </div>
                    
                    <div class="form-group">
                      <label for="name" class="control-label col-lg-2">Name <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{name}" class=" form-control" id="name"  type="text" />
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="address" class="control-label col-lg-2">Address <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{address}" class=" form-control" id="address"  type="text" />
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="email" class="control-label col-lg-2">Email <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{email}" class=" form-control" id="email" readonly  type="text" />
                      </div>
                    </div>
                    
                    <!-- <input th:field="*{password}" class=" form-control" readonly  type="hidden" /> -->
                    <!-- <input th:field="*{phone}" class=" form-control" readonly  type="hidden" /> -->
                    
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a th:href="@{/admin/customers}" class="btn btn-default" type="button">Cancel</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">

      </div>
    </div>
  </section>

  <script src="/admin/js/jquery.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/jquery.scrollTo.min.js"></script>
  <script src="/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>
  <script src="/admin/js/form-validation-script.js"></script>
  <script src="/admin/js/scripts.js"></script>

</body>

</html>