<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Product List</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->
        <header th:replace="/admin/fragments/__header :: header" />

        <aside th:replace="/admin/fragments/__sidebar :: sidebar" />

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-table"></i> Products</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                            <li><i class="fa fa-table"></i>Products</li>
                            <li><i class="fa fa-th-list"></i>Product List</li>
                        </ol>
                    </div>
                </div>
                <!-- page start-->

                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <!-- <header class="panel-heading"> -->
                            <a class="btn btn-primary" th:href="@{/admin/products/showFormAddProduct}"
                                title="New Product">
                                <i class="icon_plus_alt2"></i>
                            </a>
                            <!-- </header> -->

                            <table class="table table-striped table-advance table-hover">
                                <tbody>
                                    <tr>
                                        <th><i class="icon_profile"></i> Image</th>
                                        <th><i class="icon_profile"></i> Title</th>
                                        <th><i class="icon_profile"></i> Description</th>
                                        <th><i class="icon_profile"></i> Category Name</th>
                                        <th><i class="icon_profile"></i> Price</th>
                                        <th><i class="icon_profile"></i> Created At</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                    <tr th:each="product : ${productList}">
                                        <td>
                                            <a id="image" th:href="@{'/images/products/' + ${product.title} +'.jpg'}">
                                                <img th:src="@{'/images/products/' + ${product.title} +'.jpg'}"
                                                    width="40" height="40">
                                            </a>
                                        </td>
                                        <td th:text="${product.title}" />
                                        <td th:text="${product.description}" />
                                        <td th:each="category : ${categoryList}"
                                            th:if="(${category.categoryId} == ${product.categoryId})"
                                            th:text="${category.name}"> Product Name</td>
                                        <td th:text="${product.price}" />
                                        <td th:text="${product.createdAt}" />

                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-info"
                                                    th:href="@{/admin/products/showFormForUpdateProduct(productId=${product.productId})}">
                                                    <i class="icon_refresh"></i>
                                                </a>
                                                <a class="btn btn-danger"
                                                    th:href="@{/admin/products/deleteProduct(productId=${product.productId})}"
                                                    onclick="if (!(confirm('Are you sure your want to delete this entry?')))
                                                                    return false">
                                                    <i class="icon_trash_alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <div class="text-right">
            <div class="credits">

            </div>
        </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="js/scripts.js"></script>

</body>

</html>