<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Form</title>

        <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="/admin/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/admin/css/elegant-icons-style.css" rel="stylesheet" />
        <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/admin/css/style.css" rel="stylesheet">
        <link href="/admin/css/style-responsive.css" rel="stylesheet" />

    </head>

    <body>
        <!-- container section start -->
        <section id="container" class="">

            <header th:replace="/admin/fragments/__header :: header" />

            <aside th:replace="/admin/fragments/__sidebar :: sidebar" />


            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><i class="icon_document_alt"></i>Products</li>
                                <li><i class="fa fa-files-o"></i>Product Form</li>
                            </ol>
                        </div>
                    </div>
                    <!-- Form validations -->

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    New Product
                                </header>
                                <div class="panel-body">
                                    <div class="form">
                                        <form class="form-validate form-horizontal " id="register_form" action="#" th:action="@{/admin/products/save}" th:object="${product}" method="POST">

                                            <div class="form-group">
                                                <input type="hidden" th:field="*{productId}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="title" class="control-label col-lg-2">Title <span
                                                        class="required">*</span></label>
                                                <div class="col-lg-10">
                                                    <input th:field="*{title}" class=" form-control" id="title"  type="text" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="description" class="control-label col-lg-2">Description <span
                                                        class="required">*</span></label>
                                                <div class="col-lg-10">
                                                    <input th:field="*{description}" class=" form-control" id="description"  type="text" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="category" class="control-label col-lg-2">Category <span
                                                        class="required">*</span></label>
                                                <div class="col-lg-10">

                                                    <select th:field="*{categoryId}" class="form-control" id="category" name="categoryId">
                                                                
                                                        <option th:each="category : ${categoryList}" th:value="${category.categoryId}"
                                                                th:text="${category.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="price" class="control-label col-lg-2">Price <span
                                                        class="required">*</span></label>
                                                <div class="col-lg-10">
                                                    <input th:field="*{price}" class=" form-control" id="price"  type="number" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="image" class="control-label col-lg-2">Image <span
                                                        class="required">*</span></label>
                                                <div class="col-lg-10">

                                                    <input type="file" th:field="*{image}" class="form-control-file" id="image" name="image"
                                                           placeholder="Select File">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                    <a th:href="@{/admin/products}" class="btn btn-default" type="button">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- page end-->
                </section>
            </section>
            <!--main content end-->
            <div class="text-right">
                <div class="credits">

                </div>
            </div>
        </section>

        <script src="/admin/js/jquery.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/jquery.scrollTo.min.js"></script>
        <script src="/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>
        <script src="/admin/js/form-validation-script.js"></script>
        <script src="/admin/js/scripts.js"></script>

    </body>

</html>