<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Luxury Watches A Ecommerce Category Flat Bootstarp Resposive Website Template | Checkout :: w3layouts</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/js/jquery-1.11.0.min.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="/js/simpleCart.min.js"> </script>
	<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/js/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<script src="/js/jquery.easydropdown.js"></script>
</head>

<body>
	<div th:replace="/client/fragments/__header :: header" />

	<div class="logo">
		<a href="/">
			<h1>Luxury Watches</h1>
		</a>
	</div>

	<div th:replace="/client/fragments/__menu :: menu" />

	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">Checkout</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>CHECKOUT</h2>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<h3>My Shopping Bag</h3>
					<script>$(document).ready(function (c) {
							$('.close2').on('click', function (c) {
								$('.cart-header1').fadeOut('slow', function (c) {
									$('.cart-header1').remove();
								});
							});
						});
					</script>
					<script>$(document).ready(function (c) {
							$('.close3').on('click', function (c) {
								$('.cart-header2').fadeOut('slow', function (c) {
									$('.cart-header2').remove();
								});
							});
						});
					</script>

						<div class="in-check">
							<ul class="unit">
								<li><span>Item</span></li>
								<li><span>Product Name</span></li>
								<li><span>Unit Price</span></li>
								<li><span>Quantity</span></li>
								<li> </li>
								<div class="clearfix"> </div>
							</ul>
							<ul class="cart-header" th:each="instance : ${session.cart}">
								<a class="close1" th:href="@{/customer/remove-cart-item(productId=${instance.key})}"> </a>
								<li class="ring-in">
									<a href="#">
										<img th:src="@{'/images/products/'+${instance.value.product.title} +'.jpg'}" class=" img-responsive"
											alt="cart-item">
									</a>
								</li>
								<li><span class="name" th:text="'$ ' + ${instance.value.product.title}"></span></li>
								<li><span class="cost" th:text="'$ ' + ${instance.value.product.price}"></span></li>
								<li><span class="cost" th:text="${instance.value.quantity}"></span></li>

								<div class="clearfix"> </div>
							</ul>
							<a th:href="@{/customer/checkout}">Submit</a>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-ckeckout-->
	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">

				<div class="col-md-3 infor-left">
					<h3>Store Information</h3>
					<h4>The company name,
						<span>Lorem ipsum dolor,</span>
						Glasglow Dr 40 Fe 72.</h4>
					<h5>+955 123 4567</h5>
					<p><a href="mailto:example@email.com">contact@example.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--information-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<form>
						<input type="text" value="Enter Your Email" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>

</html>