<!DOCTYPE html>
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
	<title>Watch Shop | Home</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/js/jquery-1.11.0.min.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="/js/simpleCart.min.js"> </script>
	<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/js/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>

</head>

<body>
	<div th:replace="/client/fragments/__header :: header" />
	
	<div class="logo">
		<a href="/"><h1>Luxury Watches</h1></a>
	</div>
	
	<div th:replace="/client/fragments/__menu :: menu" />
	
	<!--bottom-header-->
	<!--banner-starts-->
	<div class="bnr" id="home">
		<div id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
				<li>
					<img src="/images/section-wall.png" alt="Wall" />
				</li>
				<li>
					<img src="/images/section-pendulum.png" alt="Pendulum" />
				</li>
				<li>
					<img src="/images/section-desk.png" alt="Desk" />
				</li>
				<li>
					<img src="/images/section-alarm.png" alt="Alarm" />
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends-->
	<!--Slider-Starts-Here-->
	<script src="/js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--End-slider-script-->
	<!--about-starts-->
	<div class="about">
		<section class="section-intro">
			<div class="container">
				<div class="Rte" style="text-align: center">
					<p>
						Welcome to the official online store for Seiko Clocks in Vietnam. Here you will find over 130
						years
						of Japanese craftsmanship, that make each of these Clocks incredibly reliable. Layered with
						Seiko's
						proprietary technology, these Clocks even push the limits of precision and performance as we
						know
						it. And Seiko's mastery of traditional Japanese aesthetics adds an inherently distinctive style.
						Simply, the finest timepieces - since 1881.
					</p>
				</div>
			</div>
		</section>

	</div>

	<!--product-starts-->
	<div class="product">
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<div class="col-md-12">
						<h3 style="text-align: center;">HOT PRODUCTS</h3>
					</div>
					<div th:each="product : ${productList}" class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a
								th:href="@{/products(productId=${product.productId})}"
								class="mask" >
								<img class="img-responsive zoom-img" th:src="@{'/images/products/' + ${product.title} +'.jpg'}" alt="product-image"/>
								</a>
							<div class="product-bottom">
								<h3 th:text="${product.title}"></h3>
								<p>Explore Now</p>
								<h4>
									<span class=" item_price" th:text="${product.price}"></span>
								</h4>
							</div>
						</div>
					</div>
					
					<!-- <div class="clearfix"></div> -->
				</div>

			</div>
		</div>
	</div>
	<!--product-end-->

	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>About Watchshop</h3>
					<p>
						Welcome to the official online store. Here you will find over 130 years of
						craftsmanship, that make each of these Watchs incredibly reliable. Layered with Seiko's
						proprietary technology, these Watchs even push the limits of precision and performance as we
						know it. And Seiko's mastery of traditional Japanese aesthetics adds an inherently distinctive
						style. Simply, the finest timepieces - since 1881.
					</p>
					
				</div>

				<div class="col-md-3 infor-left">
					<h3>Information</h3>
					<ul>
						<li><a href="about.html">
								<p>About us</p>
							</a></li>
						
						<li><a href="contact.html">
								<p>Contact us</p>
							</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Store Information</h3>
					<h4>Watch Shop,
						<span>590 Cach Mang Thang Tam, Ward 11, District 3</span>
						Ho Chi Minh City.</h4>
					<h5>+84 1234 45678</h5>
					<p><a href="mailto:support@watchshop.com">support@watchshop.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--information-end-->

	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<p>© 2020 Watch Shop. All Rights Reserved</p>
				</div>
				<div class="col-md-6 footer-right">

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>

</html>