<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Watch shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/js/jquery-1.11.0.min.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="/js/simpleCart.min.js"> </script>
	<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/js/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<script src="/js/jquery.easydropdown.js"></script>
</head>

<body>
	<div th:replace="/client/fragments/__header :: header" />

	<div class="logo">
		<a href="/">
			<h1>Luxury Watches</h1>
		</a>
	</div>

	<div th:replace="/client/fragments/__menu :: menu" />

	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">Register</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="register">
		<div class="container">
			<form th:action="@{/customer/updateProfileCustomer}" th:object="${crmUser}" method="POST">
				<div class="register-top heading">
					<h2>PROFILE</h2>
				</div>

				<div class="form-group">
					<div class="col-xs-15">
						<div>

							<!-- Check for registration error -->
							<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
								<span th:text="${registrationError}"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="Name" th:field="*{customerId}" type="hidden" tabindex="1" required>
						<input placeholder="Name" th:field="*{name}" type="text" tabindex="1" required>
						<input placeholder="Address" th:field="*{address}" type="text" tabindex="2" required>
						<input placeholder="Email" th:field="*{email}" readonly type="email" tabindex="3" required>

					</div>
					<div class="col-md-6 account-left">
						<!-- <input th:field="*{password}" placeholder="Password" type="password" tabindex="4" required> -->
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->

</body>

</html>