<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Watchshop</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery-1.11.0.min.js"></script>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/simpleCart.min.js"> </script>
	<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/memenu.js"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<script src="js/jquery.easydropdown.js"></script>
	<script type="text/javascript">
		$(function () {

			var menu_ul = $('.menu_drop > li > ul'),
				menu_a = $('.menu_drop > li > a');

			menu_ul.hide();

			menu_a.click(function (e) {
				e.preventDefault();
				if (!$(this).hasClass('active')) {
					menu_a.removeClass('active');
					menu_ul.filter(':visible').slideUp('normal');
					$(this).addClass('active').next().stop(true, true).slideDown('normal');
				} else {
					$(this).removeClass('active');
					$(this).next().stop(true, true).slideUp('normal');
				}
			});
		});
	</script>
</head>

<body>
	<div th:replace="/client/fragments/__header :: header" />
	
	<div class="logo">
		<a href="/"><h1>Luxury Watches</h1></a>
	</div>
	
	<div th:replace="/client/fragments/__menu :: menu" />
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Single</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-12 single-main-left">
					<div class="sngl-top">
						<div class="col-md-5 single-top-left">
							<div class="flexslider">
								<ul>
									<li>
										<div class="thumb-image"> <img th:src="@{'/images/products/' + ${product.title} +'.jpg'}" data-imagezoom="true"
												class="img-responsive" alt="" /> </div>
									</li>
									
								</ul>
							</div>
							<!-- FlexSlider -->
							<script src="js/imagezoom.js"></script>
							<script defer src="js/jquery.flexslider.js"></script>
							<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

							<script>
								// Can also be used with $(document).ready()
								$(window).load(function () {
									$('.flexslider').flexslider({
										animation: "slide",
										controlNav: "thumbnails"
									});
								});
							</script>
						</div>
						<div class="col-md-7 single-top-right">
							<div class="single-para simpleCart_shelfItem">
								<h2 th:text="${product.title}"></h2>
							

								<h5 class="item_price" th:text="'$ ' + ${product.price}"></h5>
								
								<p th:text="${product.description}"></p>
							
								<a th:href="@{/customer/add-to-cart(productId=${product.productId})}" class="add-cart item_add">ADD TO CART</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				
					
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-single-->
	
	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>About Watchshop</h3>
					<p>
						Welcome to the official online store. Here you will find over 130 years of
						craftsmanship, that make each of these Watchs incredibly reliable. Layered with Seiko's
						proprietary technology, these Watchs even push the limits of precision and performance as we
						know it. And Seiko's mastery of traditional Japanese aesthetics adds an inherently distinctive
						style. Simply, the finest timepieces - since 1881.
					</p>
					
				</div>

				
				
				<div class="col-md-3 infor-left">
					<h3>Store Information</h3>
					<h4>Watch Shop,
						<span>590 Cach Mang Thang Tam, Ward 11, District 3</span>
						Ho Chi Minh City.</h4>
					<h5>+84 1234 45678</h5>
					<p><a href="mailto:support@watchshop.com">support@watchshop.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--information-end-->

	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<p>© 2020 Watch Shop. All Rights Reserved</p>
				</div>
				<div class="col-md-6 footer-right">

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>

</html>