<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Form</title>

  <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/admin/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/admin/css/style.css" rel="stylesheet">
  <link href="/admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body>
  <!-- container section start -->
  <section id="container" class="">

    <header th:replace="/admin/fragments/__header :: header" />

    <aside th:replace="/admin/fragments/__sidebar :: sidebar" />


    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="icon_document_alt"></i>Orders</li>
              <li><i class="fa fa-files-o"></i>Order Form</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Order
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal " id="register_form" action="#"
                    th:action="@{/admin/orders/save}" th:object="${order}" method="POST">

                    <div class="form-group">
                      <input type="hidden" th:field="*{createdAt}" />
                    </div>
                    <div class="form-group">
                      <input type="hidden" th:field="*{orderId}" />
                    </div>
                    <div class="form-group">
                      <input type="hidden" th:field="*{customer.customerId}" />
                    </div>

                    <div class="form-group">
                      <label for="status" class="control-label col-lg-2">Status <span class="required">*</span></label>
                      <select th:field="*{status}">
                        <option th:selected="*{status} == 'pending'" value="pending">Pending</option>
                        <option th:selected="*{status} == 'ongoing'" value="ongoing">Ongoing</option>
                        <option th:selected="*{status} == 'success'" value="success">Success</option>
                        <option th:selected="*{status} == 'fail'" value="fail">Fail</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="customerName" class="control-label col-lg-2">Customer Name <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{customer.name}" readonly class=" form-control" id="customerName" type="text" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="totalPrice" class="control-label col-lg-2">Total Price <span
                          class="required">*</span></label>
                          <div class="col-lg-10">
                            <input th:field="*{totalPrice}" readonly class=" form-control" id="totalPrice" type="text" />
                          </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a th:href="@{/admin/orders}" class="btn btn-default" type="button">Cancel</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">

      </div>
    </div>
  </section>

  <script src="/admin/js/jquery.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="/admin/js/jquery.scrollTo.min.js"></script>
  <script src="/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>
  <script src="/admin/js/form-validation-script.js"></script>
  <script src="/admin/js/scripts.js"></script>

</body>

</html>