<header th:fragment="header" class="header dark-bg">
  <div class="toggle-nav">
    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
        class="icon_menu"></i></div>
  </div>

  <!--logo start-->
  <a href="/admin/" class="logo">Watch <span class="lite">Shop</span></a>
  <!--logo end-->

  <div class="nav search-row" id="top_menu">
    <!--  search form start -->
    <ul class="nav top-menu">
      <li>
        <form class="navbar-form">
          <input class="form-control" placeholder="Search" type="text">
        </form>
      </li>
    </ul>
    <!--  search form end -->
  </div>

  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">


      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="profile-ava">
            <!-- <img alt="" src="/admin/img/avatar1_small.jpg"> -->
          </span>
          <span class="username" th:text="${session.admin.name}"></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
          <li class="eborder-top">
            <a href="#"><i class="icon_profile"></i> My Profile</a>
          </li>
          <li class="eborder-top">
            <a th:href="@{/admin/showFormChangePasswordAdmin(adminId=${session.admin.adminId})}"><i class="icon_profile"></i> Change Password</a>
          </li>
          <li>
            <form th:action="@{/admin/logout}" method="POST">
              <a href="#" onclick="this.closest('form').submit();return false;"><i class="icon_key_alt"></i> Log Out</a>
            </form>
          </li>
        </ul>
      </li>
      <!-- user login dropdown end -->
    </ul>
  </div>
</header>